 <div class="wrap">
   <div class="content">
    <p class="fadein txt01">〜足音【ASHIOTO】〜</p>
    <p class="fadein txt01">コミニュケーション（雑談・議論）×メモアプリ。</p>
    <p class="fadein txt02">気軽にコミニュケーションを図る且つメモを通して</p>
    <p class="fadein txt03">インプットやアウトプットを気軽に行えるアプリケーション。</p>
    <p class="fadein txt04">雑談ルーム、議論ルーム、メモルーム、3つの各ルームにて</p>
    <p class="fadein txt05">気軽に誰かとコミニュケーションを取ったり、メモを取ったり出来るツール。</p>
    <p class="fadein txt06">主な機能面についてはトークテーマの投稿やコメント、コメントのラリー中に</p>
    <p class="fadein txt07">随時メモ出来る機能を実装（メモ単独機能あり）。</p>
    <p class="fadein txt08">雑談ルームに関しては、面白い話をすることだけでなく、自分が絡める話題を見つけ、</p>
    <p class="fadein txt09">目的なくただ会話のラリーを続けることで、会話を通じてお互いの警戒心を解き、</p>
    <p class="fadein txt10">スムーズで円滑な関係にシフトすることが第一の目的。</p>
    <p class="fadein txt11">内容はどうでもいいし、面白くなくてもいい。同じテーマで話したい人が集まり、会話を行うスペース。</p>
    <p class="fadein txt11">議論ルームに関しては、雑談ルームよりも生産的な会話を行うことを目的としている。</p>
    <p class="fadein txt12">前向きに行動をしている人や何がを始めようしている人、新しい挑戦をしている人は勿論、</p>
    <p class="fadein txt13">それらを応援したい人が集まり会話を行うスペース。</p>
    <p class="fadein txt14">足音アプリは変化の速度が速い世の中で、利用者が各ルームの中で気軽に誰かと会話をしたり</p>
    <p class="fadein txt15">気づきを即インプットしたり、アウトプットに繋げる体験をこのアプリ内で行うことで</p>
    <p class="fadein txt16">自分を見つめ直すまたは新しい挑戦をする際のきっかけを探す・見つかるアプリケーション。</p>
   </div>
 </div>

