 <div class="wrap">
   <div class="content">
    <p class="fadein txt01">〜足音【ASHIOTO】〜</p>
    <p class="fadein txt01">コミニュケーション（雑談・議論）×メモアプリ。</p>
    <p class="fadein txt02">気軽にコミニュケーションを図る且つメモを通して</p>
    <p class="fadein txt03">インプットやアウトプットを気軽に行えるアプリケーション。</p>
    <p class="fadein txt04">ChatRoom、DiscussionRoom、MemoRoom、3つの各ルームにて</p>
    <p class="fadein txt05">気軽に誰かとコミニュケーションを取ったり、メモを取ったり出来るツール。</p>
    <p class="fadein txt08">ChatRoomは、自分が絡める話題を見つけて書き込みをする。</p>
    <p class="fadein txt09">内容はどうでもいいし、面白くなくてもいい。</p>
    <p class="fadein txt10">同じテーマで話したい人が集まり、会話を行うスペース。</p>
    <p class="fadein txt11">気軽に話ができる相手や場所を見つかる空間。</p>
    <p class="fadein txt11">DiscussionRoomは、生産的な会話を行うことを目的として書き込んでほしい。</p>
    <p class="fadein txt12">前向きに行動をしている人や何がを始めようしている人、新しい挑戦をしている人は勿論、</p>
    <p class="fadein txt13">それらを応援したい人が集まり会話を行うスペース。</p>
    <p class="fadein txt14">足音アプリは変化の速度が速い世の中で、利用者が各ルームの中で気軽に誰かと会話をしたり</p>
    <p class="fadein txt15">気づきを即インプットしたり、アウトプットに繋げる体験をこのアプリ内で行うことで</p>
    <p class="fadein txt16">自分を見つめ直すまたは新しい挑戦をする際のきっかけを探す・見つかるアプリケーション。</p>
    <p class="fadein txt16">誰かの足音で溢れる場所を一緒に創りましょう。</p>
   </div>
 </div>

