<div class="wrrapper">
<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">スレッドの作成は</br>出来きる？</div>
	<div class="answer">ROOM内のスレッド作成から</br>自由にお作り頂けます。</div>
	</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

</div>
</div>




                   <!--<div class="quest">-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-uno" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-uno">Pregunta 1</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem </p>-->

                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-dos" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-dos">Pregunta 2</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-tres" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-tres">Pregunta 3</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-cuatro" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-cuatro">Pregunta 4</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-cinco" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-cinco">Pregunta 5</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->

                   <!--   <div class="tab">-->
                   <!--   <input id="tab-uno" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-uno">Pregunta 1</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem </p>-->
                   <!--    </div>-->
                   <!--   </div>-->

                   <!-- <div class="tab">-->
                   <!--   <input id="tab-dos" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-dos">Pregunta 2</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-tres" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-tres">Pregunta 3</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->

                   <!-- <div class="tab">-->
                   <!--   <input id="tab-cuatro" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-cuatro">Pregunta 4</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-cinco" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-cinco">Pregunta 5</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!--  <div class="tab">-->
                   <!--   <input id="tab-dos" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-dos">Pregunta 2</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-tres" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-tres">Pregunta 3</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->

                   <!-- <div class="tab">-->
                   <!--   <input id="tab-cuatro" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-cuatro">Pregunta 4</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- <div class="tab">-->
                   <!--   <input id="tab-cinco" type="checkbox" name="tabs">-->
                   <!--   <label for="tab-cinco">Pregunta 5</label>-->
                   <!--   <div class="tab-content">-->
                   <!--     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                   <!--   </div>-->
                   <!-- </div>-->
                   <!-- </div>-->