<div class="wrrapper">

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest"><%= link_to "足音", about_path %>とは</br>どのようなもの？</div>
  	  <div class="answer">家族、友達、仕事仲間、共通</br>の趣味や目的を持った人と</br>コミュニケーションが</br>とれるサービスです。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest">画像の投稿は</br>出来きますか？</div>
  	  <div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest"><%= link_to "スレッドを作る", new_chat_path %>は</br>出来る？</div>
  	  <div class="answer">ROOM内のスレッド作成から</br>自由にお作り頂けます。</div>
  	</div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest">画像の投稿は</br>出来きますか？</div>
  	  <div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest">フォロー・フォロワー</br>機能はありますか？</div>
      <div class="answer">数字から離れる時間や場所を</br>作りたいとの思いから</br>あえて実装しておりません。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest">悪口を書かれました。</br>削除をお願いしても</br>よろしいでしょうか？</div>
  	  <div class="answer"><%= link_to "Contact", new_contact_path  %>ページよりご連絡お願いします。</br>迅速に対処いたします。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
    	<div class="quest">スレ内で仲良くなった</br>人とオフ会等を開催</br>しても良いですか？</div>
  	  <div class="answer">ぜひとも！管理人として一切</br>の責任を負いかねますことを</br>ご了承ください。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
    	<div class="quest">サービスの使用には</br>何か必要ですか？</div>
  	  <div class="answer">ニックネームとemailを</br><%= link_to "登録", new_customer_registration_path %>いただくだけで</br>ご利用いただけます。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
  	  <div class="quest">機能の追加の</br>予定はありますか？</div>
  	  <div class="answer">今後複数の機能を実装予定</br>です。ご要望があればお気軽</br>に問い合わせください。</div>
    </div>
  </div>

  <div class="cp_qa">
    <div class="cp_qanda">
    	<div class="quest">気に入ったスレッド</br>や他人の投稿を</br>保存できますか？</div>
  	  <div class="answer">Bookmark機能またはスレに対し</br>1度でも投稿を行うと</br>自動的にマイページに表示されます。</div>
    </div>
  </div>

</div>




