<div class="send">Q & A</div>
<div class="wrrapper">
<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">スレッドの作成は</br>出来きる？</div>
	<div class="answer">ROOM内のスレッド作成から</br>自由にお作り頂けます。</div>
</div>
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">会員登録は必要?</div>
	<div class="answer">メモ帳機能以外のサービスご利用の</br>場合は日必要です。</div>
</div>
<div class="cp_qanda">
	<div class="quest">他人(誹謗中傷など)</br>コメントの削除依頼は</br>出来る？</div>
	<div class="answer">可能です。contactページより</br>お問い合わせください。早急に対応を</br>検討の上で削除いたします。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">導入して欲しい機能が</br>あるんですが。</div>
	<div class="answer">大歓迎です！</br>contactページよりお問い合わせ</br>ください。</div>
</div>
<div class="cp_qanda">
	<div class="quest">対象年齢は？</div>
	<div class="answer">特に想定してはしておりません。</br>管理人(アラサー)である私も</br>掲示板へ出没します。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">スレッドの作成は</br>出来きる？</div>
	<div class="answer">ROOM内のスレッド作成から</br>自由にお作り頂けます。</div>
</div>
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">会員登録は必要?</div>
	<div class="answer">メモ帳機能以外のサービスご利用の</br>場合は日必要です。</div>
</div>
<div class="cp_qanda">
	<div class="quest">他人(誹謗中傷など)</br>コメントの削除依頼は</br>出来る？</div>
	<div class="answer">可能です。contactページより</br>お問い合わせください。早急に対応を</br>検討の上で削除いたします。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">導入して欲しい機能が</br>あるんですが。</div>
	<div class="answer">大歓迎です！</br>contactページよりお問い合わせ</br>ください。</div>
</div>
<div class="cp_qanda">
	<div class="quest">対象年齢は？</div>
	<div class="answer">特に想定してはしておりません。</br>管理人(アラサー)である私も</br>掲示板へ出没します。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">スレッドの作成は</br>出来きる？</div>
	<div class="answer">ROOM内のスレッド作成から</br>自由にお作り頂けます。</div>
</div>
<div class="cp_qanda">
	<div class="quest">画像の投稿は</br>出来きますか？</div>
	<div class="answer">現在は導入予定はありません。</br>テキストにて</br>お楽しみください。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">会員登録は必要?</br>登録なくても使える?</div>
	<div class="answer">メモ帳機能以外のサービスご利用の</br>場合は日必要です。</div>
</div>
<div class="cp_qanda">
	<div class="quest">他人(誹謗中傷など)</br>コメントの削除依頼は</br>出来る？</div>
	<div class="answer">可能です。contactページより</br>お問い合わせください。早急に対応を</br>検討の上で削除いたします。</div>
</div>
</div>

<div class="cp_qa">
<div class="cp_qanda">
	<div class="quest">導入して欲しい機能が</br>あるんですが。</div>
	<div class="answer">大歓迎です！</br>contactページよりお問い合わせ</br>ください。</div>
</div>
<div class="cp_qanda">
	<div class="quest">対象年齢は？</div>
	<div class="answer">特に想定してはしておりません。</br>管理人(アラサー)である私も</br>掲示板へ出没します。</div>
</div>
</div>
</div>




</div>

