// Place all the styles related to the admins/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .management0 {
      padding-top: 40px;
      padding-left: 690px;
  }
  
  .management1 {
      padding-left: 300px;
      padding-top: 20px;
  }
  
  
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    
    table tr {
        border-bottom: solid 10px #eee;
        cursor: pointer;
    }
    
    table tr:hover {
        background-color: #d4f0fd;
    }
    
    table th,table td {
        text-align: center;
        width: 25%;
        padding: 15px 0;
    }