.cp_qa .cp_qanda {
   line-height: 1.5;
   position: relative;
   margin: 0 0 2em 15em;
   padding: 0 0 0 1em;
   border-left: 1px solid #333333;
}

.cp_qa .quest {
	font-weight: bold;
	position: absolute;
	bottom: 1em;
	left: -15em;
	display: inline-block;
	width: 14em;
	text-align: right;
}

.cp_qa .cp_qanda::before {
	font-family: serif;
	font-size: 4em;
	position: absolute;
	top: -0.4em;
	left: -3.7em;
	display: inline-block;
	width: 9em;
	content: 'Q';
	opacity: 0.6;
}

.cp_qa .answer {
	min-height: 5em;
}

.wrrapper {
	padding-top: 80px;
	padding-left: 380px;
	margin-left: -30px;
	margin-top: 30px;
	gap: 20px 40px;
	display:flex;
  flex-wrap:wrap;
}

.send {
	 padding-top: 30px;
	 text-align    : center;
	 font-size    : 30pt;
}


.mypage5 {
	 padding-top: 10px;
	 padding-right: 15px;
	 font-size: 15px;
	 text-align: right;
}




.boxcontainer {
  display: flex;
  justify-content: center;
}


.box-α {
	   padding: 1rem 2rem;
       border-top: 3px solid #000;
       border-bottom: 3px solid #000;
       text-align: center;
       background-color: white;
}

.box-b {
	   padding: 1rem 2rem;
       text-align: center;
       background-color: #DDDDDD;
}


.subscribe1 {
  text-align: center;
  padding-top:  250px;
}


.tab{
  margin:2em auto;
  text-align: center;
}
.tab label{
  margin:3em;
  padding:.7em 3em;
  border: 1px solid black;
  border-radius:5px;
  box-shadow: 0 3px 3px black;
  color:#555;
}
.tab label:hover{
  background-color:white;
  transform:scale(1.1);
  opacity:.7;
}
.tab input{
  display:none;
}

.foods{
  display:block;
  margin-top:2em;
  text-align:center;
}
.foods ul{
  display:none;
  color:#333;
  text-align:left;
  list-style: none;
  -webkit-animation: slide 0.5s ;
  animation:slide 0.5s ;
}

.tab input:nth-of-type(1):checked ~ .foods ul:nth-child(1),
.tab input:nth-of-type(2):checked ~ .foods ul:nth-child(2),
.tab input:nth-of-type(3):checked ~ .foods ul:nth-child(3){
  display:block;
}

.tab input:checked + label{
  background-color:black;
  color:#fff;
}

@keyframes slide{
  0%{
    opacity:0;
    transform:translateY(20px);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }
}