/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// ヘッダー周りの調整
header {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  padding: 10px 3% 5px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 2.0);
  opacity: 0.9;
  a {
      color: white;
      text-decoration: none ;
  }
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px
}

.nav {
  margin: 0 0 0 700px;
  display: flex;
}

.nav1 {
  margin: 0 0 0 999px;
  display: flex;
}

.nav2 {
  margin: 0 0 0 920px;
  display: flex;
}



.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: image-url("4402640608_e602a6fe5c_k.jpeg")
}


// 背景の調整

 html, body {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  height: 100vh;
  background-image: image-url("white_00026.jpeg")
 }


// 見出しの調整
 h2 {
        text-align    : center;
        padding-top   : 40px;
}

 h5 {
        text-align    : center;
}



input[type="text"] {
        width: 250px;
        height: 20px;
    }

.new {
      text-align     : center;
}

.form {
      text-align     : center;
      padding-top    : 70px;
  input {
        width         : 30%;
        padding       : 5px;
        border-radius : 5px;
        border        : 1px solid #ccc;
    }
}


 .field {
 input {
    width         : 30%;
    padding       : 5px;
    border-radius : 5px;
    border        : 1px solid #ccc;
    appearance    : none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

 .newfield {
    width         : 78%;
    spadding       : 5px;
  }


.actions {
    margin       : 15px auto;
    display      : flex;
    align-items  : center;
    justify-content: center;
    width        : 150px;
}

.button {
    display      : inline-block;
    border-radius: 5%;
    font-size    : 15pt;
    text-align   : center;
    cursor       : pointer;
    padding      : 5px 5px;
    background   : #333;
    color        : #ffffff;
    line-height  : 1em;
    transition   : .2s;
    box-shadow   : 6px 6px 3px #666666;
    border       : 2px solid #333;
}

.button:hover {
    box-shadow   : none;
    color        : #333;
    background   : #ffffff;

}

.error .notice {
  background-color: #ccd8cc;
  color: #fff;
  padding: 10px;
  text-align :center;
}

.error .alert {
  background-color: #ccd8cc;
  color: #fff;
  padding: 10px;
  text-align :center;
}

* {
    margin: 0;
    padding: 0;
}

// aboutページ
.wrap {
    background-image: image-url("10891456256_6aac4bc4d2_k.jpeg");
    height: 100vh;
    padding-top: 40px;
}


.content {
    width:auto;
    height: auto;
    text-align: left;
	  display: inline-block;
}

// 文字カラー指定
p {
    font-size: 15px;
    color: #FFFFFF;
    line-height: 3em;
}

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 6s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 8;}
}

h6 {
   margin: 0;
   font-size: 50px;
   font-weight: normal;
   color: #fff;
   animation-name: fadein;
   animation-duration: 4s;
   position: absolute;
}


@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}


 .wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  float: right;
 }

 .container {
  width: 800px;
  margin: 0 auto;

 }

 .panel {

 }

 h4 {
   margin: 0; padding: 0;
   font-size: 20px;
 }

.customercontact {
   padding-top: 50px;
   text-align    : center;
   font-size    : 20pt;
}

// discussion.index
.cate {
    padding-top: 90px;
    padding-left: 80px;
    float: left;
}

.hope {
    padding-left: 10px;
}


h5 {
    margin: 10px;
}
