/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h2 {
   text-align    : center;
}

.new {
   text-align     : center;
}

 .field {
 input {
    width         : 30%;
    padding       : 5px;
    border-radius : 5px;
    border        : 1px solid #ccc;
    appearance    : none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

}

 .newfield {
    width         : 78%;
    spadding       : 5px;
  }


.actions {
    margin       : 15px auto;
    display      : flex;
    align-items  : center;
    justify-content: center;
    width        : 150px;
}

.button {
    display      : inline-block;
    border-radius: 5%;
    font-size    : 15pt;
    text-align   : center;
    cursor       : pointer;
    padding      : 5px 5px;
    background   : #333;
    color        : #ffffff;
    line-height  : 1em;
    transition   : .3s;
    box-shadow   : 6px 6px 3px #666666;
    border       : 2px solid #333;
}

.button:hover {
    box-shadow   : none;
    color        : #333;
    background   : #ffffff;

}

.error .notice {
  background-color: #ccd8cc;
  color: #fff;
  padding: 10px;
  text-align :center;
}

.error .alert {
  background-color: #ccd8cc;
  color: #fff;
  padding: 10px;
  text-align :center;
}



