// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index画面
  .chat-0 {
      padding-top: 90px;
      padding-left: 80px;
      float: left;
  }

  .chat-1 {
      text-align: center;
      padding-top: 60px;
  }

  .chat-1-1 {
      text-align: center;
      padding-top: 50px;
      font-size: 30px;
  }

  .chat-2 {
      padding-top: 30px;
      padding-left: 650px;
  }

  .chat-3 {
      padding-top: 30px;
      padding-left: 650px;
  }

 
  .chat-4 {
      padding-top: 30px;
      padding-left: 810px;
  }


  .chat-4-1 {
      padding-top: 20px;
      text-align: center;
  }


  .chat-5-1 {
      padding-top: 20px;
      text-align: center;
  }

  .chat-6 {
      padding-left: 770px;
  }

  // 検索
  .search {
      margin-top: 40px;
      padding-left: 680px;
  }

  .search1 {
      padding-left: 760px;
  }

  // showページ
  .chat-box {
      display: flex;
  }

  .chat-item-1 {
     padding-top: 80px;
     padding-left: 450px;
  }


  .chat-item-2 {
      padding-top: 30px;
      padding-left: 100px;
  }

  .chat-item-2-1{
      padding-top: 30px;
  }

  .chat-item-3 {
      padding-top: 100px;
      padding-left: 150px;
  }

  .chat-item-4 {
      padding-top: 35px;
      text-align: center;
  }

  .api {
      padding-top: 2px;
  }
