// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .form {
        text-align     : center;
        padding-top    : 70px;
          input {
            width         : 30%;
            padding       : 5px;
            border-radius : 5px;
            border        : 1px solid #ccc;
         }
    }
    
    .group {
        padding-top: 40px;
    }
    
    .one {
      	border: 1px solid #000000;
      	width: 500px;
      	height: 25px;
      	background-color: white;
    }
    
    .two {
      	border: 1px solid #000000;
      	width: 500px;
      	height: 100px;
      	background-color: white;
    }
