// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussion-0 {
   padding-top: 50px;
   padding-left: 20px;

}

.search {
        padding-top: 5px;
        padding-left: 680px;
}

.search1 {
        padding-left: 760px;
}


.flex_discussion-box {
   display: flex;
}

.flex_discussion-item-1 {
   padding-top: 50px;
   padding-left: 450px;
}


.flex_discussion-item-2 {
   padding-top: 30px;
   padding-left: 100px;
}

.flex_discussion-item-2-1{
   padding-top: 30px;
}


.flex_discussion-item-3 {
   padding-top: 5px;
   padding-left: 350px;
}


.discussion-1 {
   text-align: center;
   padding-top: 60px;
}

.discussion-2 {
   padding-top: 30px;
   padding-left: 635px;
}

.discussion-3 {
   padding-top: 30px;
   padding-left: 635px;
}

.discussion-4 {
   padding-top: 30px;
   padding-left: 635px;
}

.discussion-5 {
   padding-top: 20px;
   padding-left: 625px;
}

// .discussion-6  {
//     display      : inline-block;
//     border-radius: 5%;
//     font-size    : 15pt;
//     text-align   : center;
//     cursor       : pointer;
//     padding      : 5px 5px;
//     background   : #333;
//     color        : #ffffff;
//     line-height  : 1em;
//     transition   : .3s;
//     box-shadow   : 6px 6px 3px #666666;
//     border       : 2px solid #333;
// }
